.App {
  text-align: center;
  background-color: #1e1e1e;
  min-height: 100vh;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

:modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: fit-content;
  height: fit-content;
  overflow: auto;
  background-color: rgb(135, 252, 25);
}

:modal button {
  background-color: #42c;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}