/* src/styles/Board.css */
.board {
    display: grid;
    height: 100%;
    align-items: center;
    margin-inline: 10%;
    padding: 20px;
  }
  
  .board h1 {
    margin-bottom: 20px;
  }
  
  .board button {
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: #ff6f61;
    border: none;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .board button:hover {
    background-color: #ff5a4d;
  }
  
  .card-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    justify-items: center;
  }
  
  .board p {
    margin-top: 20px;
    font-size: 18px;
  }
  